{{>licenseInfo}}

package {{apiPackage}};

import okhttp3.OkHttpClient;

{{#imports}}import {{import}};
{{/imports}}

/**
* TinkApi
*/
public class TinkApi {

  private final OkHttpClient _client =  new OkHttpClient();
  private final String _token;
  private final String _baseUrl = "https://api.tink.se";
  
  /**
   * Used to create an authorized client.
   * @param token   The access token to use for authorization
   */
  public TinkApi(String token) {
    _token = token;
  }

  /**
   * Used to create an unauthorized client.
   */
  public TinkApi() {
    this("");
  }
  
  {{! use basePath - param with tripple curls in future for basePath defaults  }}
  
  {{#apiInfo}}
  {{#apis}}
  {{#operations}}
  
  public {{classname}} get{{classname}}() {
    return new {{classname}}Impl(_token, _baseUrl, _client);
  }
  {{/operations}}
  {{/apis}}
  {{/apiInfo}}
}


